/* site boilerplate ========== */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

body {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  color: #686868;
}

h1, h2, h3, h4, h5, h6 {
  color: #4d4c4c;
}

a {
  text-decoration: none;
  color: inherit;
}

.pt {
  padding-top: 3rem;
}

.pb {
  padding-bottom: 10rem;
}

.ptb {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.mt {
  margin-top: 3rem;
}

.mb {
  margin-bottom: 4rem;
}

.mtb {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.sec__heading {
  margin-bottom: 25px;
  font-size: 2.2rem;
}

.sec__heading img {
  width: 40px;
  height: 30px;
}

.vr {
  padding: initial;
  width: 2px;
  background-color: #4d4c4c;
}

/* Header section ============ */
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

header nav .logo img {
  width: 250px;
}




header nav .main__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

header nav .main__menu ul li a {
  padding: 10px;
  font-size: 18px;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

header nav .main__menu ul li a:hover {
  color: #8b8b8b;
}

header nav .main__menu ul li.circle {
  width: 50px;
  height: 50px;
  background: #d9d9d9;
  border: 1px solid #4d4c4c;
  border-radius: 50%;
}

header nav .main__menu ul li.circle a {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

header nav .main__menu ul li.circle a span {
  display: inline-block;
  width: 100%;
  height: 100%;
}

header nav .main__menu ul li.circle a span img {
  width: 100%;
}

/* Footer section ============ */
footer {
  background-color: #F8EACF;
}

footer .footer__heading {
  font-weight: 700;
  margin-bottom: 15px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 8px;
}

footer ul li a:hover {
  color: inherit;
}

footer ul li:hover {
  color: #8b8b8b;
}

footer .footer__sec .logo {
  width: 300px;
  max-width: 100%;
}

footer .footer__sec .follow__sec {
  margin-top: 60px;
}

footer .footer__sec .follow__sec ul {
  background-color: white;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 200px;
  max-width: 100%;
}

footer .footer__sec .follow__sec ul li {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

footer .footer__sec .follow__sec ul li a {
  padding: 8px;
  display: inline-block;
}

footer .footer__sec .follow__sec ul li a img {
  width: 100%;
}

footer .footer__sec .contact__sec {
  margin-top: 60px;
}

footer .subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

footer .subscription__form p {
  margin-bottom: 5px;
}

footer .subscription__form form input {
  padding: 4px 10px;
  width: 100%;
  font-size: 15px;
}

footer .subscription__form form button {
  background-color: transparent;
  border: 2px solid grey;
  margin-top: 10px;
  font-size: 16px;
  padding: 4px 10px;
}

/* Banner Section ============= */
.banner__sec {
  background: url("../images/taiwan3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 550px;
  z-index: 1;
  position: relative;
}

.banner__sec::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.banner__sec .banner___overlay {
  text-align: center;
  z-index: 2;
  position: relative;
}

.banner__sec .banner___overlay h1 {
  color: #f7f7f7;
  text-shadow: 2px 2px #4e4e4e;
  line-height: 1;
  margin-bottom: 20px;
}

.banner__sec .banner___overlay h1 span {
  display: block;
  margin-left: 10px;
}

.banner__sec .banner___overlay .banner__search {
  position: relative;
  width: 350px;
  max-width: 100%;
  margin: auto;
}

.banner__sec .banner___overlay .banner__search input {
  width: 100%;
  border: 1px solid white;
  background: transparent;
  padding: 5px 10px;
  color: white;
}

.banner__sec .banner___overlay .banner__search img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  width: 20px;
  height: 20px;
}

.home_prev {
  left: 20px !important;
  z-index: 2;
}

.home_prev:before {
  background: url("../images/icons/left-arrow-black.svg") !important;
}

.home_next {
  right: 20px !important;
  z-index: 2;
}

.home_next:before {
  background: url("../images/icons/right-arrow-black.svg") !important;
}

.home__main__slider .card {
  display: block;
  text-align: center;
  border: none;
}

.home__main__slider .card img {
  width: initial !important;
  height: 600px !important;
}

/* Explore Section ============= */
.explore__sec .explore__box {
  position: relative;
  margin: 0 10px;
  height: 100%;
}

.explore__sec .explore__box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgb(0 0 0 / 55%));
  z-index: 0;
}

.explore__sec .explore__box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explore__sec .explore__box p {
  position: absolute;
  margin-bottom: 0;
  bottom: 10px;
  left: 20px;
  color: white;
}

/* Travel Section ============= */
.travel__sec .sec__heading {
  margin-bottom: 40px;
}

.travel__sec .travel__box {
  margin-bottom: 40px;
}

.travel__sec .travel__box h3 {
  font-weight: 700;
}

.travel__sec .travel__box p {
  margin: 15px 0 25px;
}

.travel__sec .travel__box a {
  border: 1px solid #2fa5d3;
  padding: 8px 23px;
  line-height: 1;
  font-size: 15px;
  color: #2fa5d3;
}

/* Post_review Section ============= */
.posts__reviews__sec {
  background-color: #9BB5C7;
}

.posts__reviews__sec h2 {
  font-size: 3rem;
  margin: 5rem 0 0;
}

.posts__reviews__sec h2 span {
  display: block;
}

.posts__reviews__sec .reviews__head h3 {
  font-weight: 700;
}

.posts__reviews__sec .reviews__head p {
  margin-bottom: 5px;
}

.posts__reviews__sec .reviews__foot {
  margin-top: 50px;
}

.posts__reviews__sec .reviews__foot img {
  width: 80%;
}

.posts__reviews__sec .reviews__foot p {
  font-size: 15px;
  margin: 10px 0;
}

.posts__reviews__sec .reviews__foot p span {
  display: block;
}

.reviews__credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.reviews__credit p {
  font-size: 15px;
  font-weight: 700;
}

/* Rating Styling ============= */
.reviews__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.reviews__stars img {
  width: 20px;
  margin-right: 2px;
}

/* review page Styling */
.review__heading {
  text-align: center;
  margin-bottom: 60px;
}

/* ====== form styling */
.form form {
  padding: 30px;
}

.form p {
  font-weight: 700;
  margin-bottom: 5px;
}

.form .value {
  font-weight: 500;
}

.form label {
  font-weight: 700;
}

.form label span {
  display: block;
  font-weight: 500;
}

.form input {
  background-color: transparent;
  border-radius: 10;

  padding: 8px 10px;
  border: 1px solid #4d4c4c;
}

.form input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #d9d9d9;
}

.form button[type="submit"] {
  background: #d9d9d9;
  padding: 8px 15px;
  border: none;
  color: #4d4c4c;
  font-size: 15px;
  font-weight: 600;
}

.form .uploadImage span {
  margin: 10px 0;
  width: 180px;
  height: 150px;
  background:transparent;
  position: relative;
  border: 1px solid #4d4c4c;
}

.form .uploadImage span::before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 45px;
}

.form .uploadImage span input {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.symbols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  font-size: 30px;
  line-height: 1;



  background-color: transparent;






}

.button-solid {
  border: none;
}
.button-solid:focus {
  border: 50%;
  outline: none;
}

.symbols li {
  padding: 0 1px;
  
  
}

.symbols li img {
  width: 25px;
  background:transparent;

}

.icon{
  border: none;
  background:transparent;
}

button:focus {
  border: none;
  outline: none;
  background:transparent;
  
}

button:focus{
  outline:none !important;
  background:transparent;
}


/* ====== login page form */
.form__heading {
  margin-bottom: 20px;
  text-align: center;
}

.login__form {
  padding: 8rem 30px;
}

.login__form .form {
  text-align: center;
}

.login__form .form img {
  width: 50px;
}

.login__form .form p {
  font-weight: 500;
}

.login__form .form form {
  padding: 30px 0 0 0;
  margin: 20px 0 0 0;
  border-top: 1px solid #d9d9d9;
}

.login__form .form form input {
  background: transparent;
  border: 2px solid #4d4c4c;
}

/* ====== signup section */
.signup__sec {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.signup__sec h2 span {
  display: block;
}

.signup__sec a {
  background: #d9d9d9;
  padding: 8px 15px;
  border: none;
  color: #4d4c4c;
  font-size: 15px;
  font-weight: 600;
  margin-top: 3rem;
  display: inline-block;
}

/* ============ about PAGE ============ */
/* ==== banner section */
.about__banner {
  background: url("../images/taiwan.jpg");
  background-position: center;
}

/* ==== OUR WORK section */
.our__work__wrapper h2 {
  margin-bottom: 50px;
}

.our__work__wrapper h2 span {
  display: block;
}

.our__work__wrapper .ourwork__box {
  text-align: center;
  padding: 0 40px;
}

.our__work__wrapper .ourwork__box h3 {
  font-weight: 700;
}

/* ==== zigzag section */
.zigzag__sec .zigzag__img img {
  width: 100%;
}

.zigzag__sec .zigzag__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 30px;
}

.zigzag__sec .zigzag__content h3 {
  margin-bottom: 20px;
  font-weight: 700;
}

/* ============ Profile PAGE ============ */
.profile__banner {
  background: url("../images/profile-banner.jpg");
  background-position: center;
}

.profile__banner .profile__overlay {
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  width: 450px;
  max-width: 100%;
  margin: auto;
  padding: 30px;
  z-index: 3;
  position: relative;
}

.profile__banner .profile__overlay .circle {
  width: 200px;
  height: 200px;
  margin: 10px auto 20px;
  border-radius: 50%;
  background-color: #d9d9d9;
  border: 1px solid #4d4c4c;

}

.profile__banner .profile__overlay .circle img {
  width: 100%;
}

.profile__review .card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
 
  
  background: linear-gradient(transparent, rgb(0 0 0 / 55%));
  z-index: 0;
}

.circle__sec2 {
  margin: -0.10% 40px;
  
}

.circle__sec2 .swiper-slide {
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-right: 60px; 
}

.circle__sec2 .swiper-slide>div {
  height: 50%;
  object-fit: contain;
  border: 2px solid black;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: left;
  justify-content: center;
}

.circle__sec2 .swiper-slide img {
  width: 100%;
}

.circle__sec2 .swiper-slide p {
  margin: 20px 100 0;
}

.profile__review .card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: linear-gradient(transparent, rgb(0 0 0 / 55%));
  z-index: 0;
}

.profile__review .card .card__detail h4,
.profile__review .card .card__detail {
  color: white;
}

.profile__review .card .card__detail .reviews__stars img {
  filter: invert(100%) sepia(8%) saturate(6%) hue-rotate(282deg) brightness(110%) contrast(94%);
}

.swiper-button-disabled {
  display: none;
}

.our__work__wrapper .see__btn {
  margin: 10px 0 0;
}

/* ============ Changes Made Here ============ */
/* ============ Community PAGE ============ */
.community__sec {
  background: url("../images/community-banner.jpg");
  background-position: center;
  background-size: cover;
}

.circle__sec {
  margin: 0 5% 10%;
}

.circle__sec .swiper-slide {
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
}

.circle__sec .swiper-slide>button {
  height: 120px;
  width: 120px;
  object-fit: contain;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
    margin-left: 10%;
}

.circle__sec .swiper-slide>button:hover {
    background-color: #ddd;
}

.circle__sec .swiper-slide>button.active {
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 5px 10px;
}

.circle__sec .swiper-slide img {
  width: 60%;
  height: 60%;
}

.circle__sec .swiper-slide p {
  margin: 20px 0 0;
}

.filterDiv {
    display:none;
}

.show {
    display: block;
}

.cards_container {
    overflow: hidden;
}

.community__cards .row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.community__cards .row .community__wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto 30%;
}

.community__cards .row .community__wrapper .community__head {
  margin-bottom: 15px;
}

.community__cards .row .community__wrapper .community__head img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.community__cards .row .community__wrapper .community__head span {
  font-weight: 700;
}

.community__cards .row .community__wrapper .community__head span a {
  color: inherit;
}

.community__cards .row .community__wrapper .community__body img {
  width: 100%;
  max-height: 750px;
}

.community__cards .row .community__wrapper .community__body .action__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

/*Try try Youtube like button*/
/*
.community__cards .row .community__wrapper .community__body .action__icon li .heart_container {
    display: inline-block;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    padding: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0, .1);
    border-radius: 80px;
    background-color: #fafafa;
}

.community__cards .row .community__wrapper .community__body .action__icon li .heart_container i {
    font-size: 5rem;
    transition: .4s;
}

.community__cards .row .community__wrapper .community__body .action__icon li .heart_container: hover i {
    color: #f50057;
}

.community__cards .row .community__wrapper .community__body .action__icon li .fas {
    color: #f50057;
    transition: .4s;
}
*/


.community__cards .row .community__wrapper .community__body .action__icon li button {
  padding: 4px 5px 0;
  display: inline-block;
  border: none;
  background: none;
}

.community__cards .row .community__wrapper .community__body .action__icon li button:hover {
    background-color: #ddd;
}

.community__cards .row .community__wrapper .community__body .action__icon li button.active {
    background-color: #666;
}

.community__cards .row .community__wrapper .community__body .action__icon li button img {
  width: 25px;
}

.community__cards .row .community__wrapper .community__body .action__icon li.bookmark {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}

.community__cards .row .community__wrapper .community__foot p.message {
  font-weight: 700;
}

.community__cards .row .community__wrapper .community__foot p.title {
  font-weight: 400;
  color: #8b8b8b;
}

.community__cards .row .community__wrapper .community__foot p {
  margin-bottom: 0;
  line-height: 1.3;
}

.uploadImg {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.uploadImg input {
  opacity: 0;
}

.uploadImg img {
  width: 50px;
  height: 50px;
  z-index: 213123;
  pointer-events: none;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* ============ Up to Here ============ */

/* ============ Country PAGE ============ */
.country__banner {
  background: url("../images/country-images/home-banner.png");
  background-position: center;
  background-size: cover;
}

.country__detail__wrapper {
  position: relative;
  z-index: 2;
}

.country__detail__wrapper .country__detail {
  -webkit-transform: translateY(-120px);
  transform: translateY(-160px);
  background-color: white;
  padding: 30px 50px 20px;
}

.country__detail__wrapper .country__detail h2 {
  margin-bottom: 20px;
}

.country__detail__wrapper .country__detail h2 span {
  display: block;
}

.country__detail__wrapper .country__detail p {
  font-size: 15px;
  margin-bottom: 30px;
  width: 600px;
  max-width: 100%;
}

.country__detail__wrapper .country__detail .reviews__credit ul {
  margin-bottom: 0;
}

.country__detail__wrapper .country__detail .symbols li {
  font-size: 19px;
}

.country__detail__wrapper .country__review__sec {
  padding: 30px 30px 30px 70px;
}

.country__detail__wrapper .country__review__sec p a {
  color: inherit;
}

.country__detail__wrapper .country__review__sec p a img {
  width: 18px;
  height: 18px;
}

.country__detail__wrapper .country__review__sec .jump {
  border-left: 1px solid #4d4c4c;
  padding-left: 20px;
}

.country__detail__wrapper .country__review__sec .jump ul {
  list-style-type: decimal-leading-zero;
}

.country__detail__wrapper .country__review__sec .jump ul a {
  color: inherit;
}

.country__slider .swiper-slide {
  background: white;
  padding: 15px 20px;
  height: auto;
  border: 3px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.country__slider .swiper-slide p {
  margin-bottom: 10px;
  font-size: 15px;
}

.country__slider .reviews__credit {
  margin-top: auto;
}

.modes__sec .explore__box p {
  position: relative;
  top: 0;
  left: 0;
  color: black;
}

.modes__sec .explore__box::before {
  content: none;
}

.grid__img img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

/* ============ Changes Made Here ============ */
/* ============ Country Review PAGE ============ */
.country__detail__wrapper .country__detail .bookmark button {
  padding: 4px 5px 0;
  display: inline-block;
  border: none;
  background: none;
}

.country__detail__wrapper .country__detail .bookmark button:hover {
    background-color: #ddd;
}

.country__detail__wrapper .country__detail .bookmark button.active {
    background-color: #666;
}

.country__detail__wrapper .country__detail .bookmark button img {
  width: 25px;
}

.country__detail__wrapper .country__detail .bookmark {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
    margin-top: -10%;
}






.reviews__ratings h2{
    float:left;
}

.reviews__ratings div{
    float:left;
}

#r5 {
  height: 20px;
  width: 50%;
  background-color: #555;
}
#r4 {
  height: 20px;
  width: 70%;
  background-color: #555;
}
#r3 {
  height: 20px;
  width: 35%;
  background-color: #555;
}
#r2 {
  height: 20px;
  width: 20%;
  background-color: #555;
}
#r1 {
  height: 20px;
  width: 10%;
  background-color: #555;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid #555;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid #555;
}

.review__search {
  position: relative;
  width: 500px;
  max-width: 100%;
  margin-left: 3%;
}

.review__search input {
  width: 100%;
  border: 1px solid black;
  background: transparent;
  padding: 5px 10px;
  color: black;
}

.review__search img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  width: 20px;
  height: 20px;
}

.reviews__searchFilter .reviews__btns li {
    list-style: none;
}

.reviews__searchFilter .reviews__btns button {
   padding: 1% 4% 1% 4%;
    float: left;
    margin-right: 2%;
    background-color: white;
}

.review__head {
  margin-top: 10%;
  margin-bottom: 15px;
}

.review__head img {
  width: 55px;
  height: 55px;
  margin-right: 10px;
}

.review__head span {
  font-weight: 700;
}

.review__head p {
  font-weight: 500;
}

.review__head span a {
  color: inherit;
}

.review__head .reviews__credit .reviews__stars img {
    float: left;
    width: 11px;
    height: 9%
    margin-top: -40px;
    margin-bottom: -35px;
}



.text
{
   font-size: 18px;
    text-indent: 69px;
}

.review__head .reviews__credit .symbols{
    font-size: 15px;
    float: left;
}

.reviews__div {
    margin-left: 10%;
    margin-top: 10%;
}

.reviews__more {
    margin-top: 15%;
    float: right;
}

.reviews__content img {
    width: 250px;
    height: 200px;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.reviews__content h3 {
    font-size: 25px;
    font-weight: 650;
}

/* ============ Up to Here ============ */

/* ============ review detail PAGE ============ */
.review__details .redirect a {
  background: #d9d9d9;
  padding: 8px 15px;
  border: none;
  color: #4d4c4c;
  font-size: 15px;
  font-weight: 600;
  padding: 12px 30px;
  margin: 20px 0 0;
}

.review__details .reviews__head {
  border: 1px solid #4d4c4c;
}

.review__details .reviews__head img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.review__details .reviews__body {
  border: 1px solid #4d4c4c;
  border-top: 0;
  padding: 20px;
}

.review__details .reviews__body .reviews__stars {
  margin-bottom: 0;
}

.review__details .reviews__body .credit__person p {
  margin-bottom: 0;
}

/* ========== sliding cards */
.card__wrapper .card__detail {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.card__wrapper .card__detail h4 {
  margin-bottom: 0;
  font-weight: 600;
}

.card__wrapper .card__detail p {
  margin: 0;
}

.card__wrapper .card__detail .reviews__credit ul {
  margin-bottom: 0;
}

/* ========== Favourite Section */
.fav__slider .swiper-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.fav__slider .swiper-wrapper .swiper-slide:nth-child(even),
.fav__slider .swiper-wrapper .swiper-slide:nth-child(odd) {
  margin-bottom: 30px;
  margin-top: 0 !important;
}

.item__slider {
  position: relative;
}

.item__slider .card>img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.swiper_btn {
  position: relative;
  width: 50px;
  height: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.swiper_btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.swiper_btn.btn-prev {
  left: -60px;
}

.swiper_btn.btn-prev::before {
  background: url(../images/icons/left-arrow.svg);
  background-size: cover;
  background-position: center;
}

.swiper_btn.btn-next {
  right: -60px;
}

.swiper_btn.btn-next::before {
  background: url(../images/icons/right-arrow.svg);
  background-size: cover;
  background-position: center;
}

.post__reviews__box {
  padding: 30px;
}

/* media Query */
@media screen and (max-width: 1399px) {
  body {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
  }

  .pt {
    padding-top: 2rem;
  }

  .pb {
    padding-bottom: 8rem;
  }

  .ptb {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .mt {
    margin-top: 2rem;
  }

  .mb {
    margin-bottom: 3rem;
  }

  .mtb {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .sec__heading {
    font-size: 2rem;
  }

  .posts__reviews__sec h2 {
    font-size: 2.5rem;
    margin: 5rem 0 0;
  }

  .zigzag__sec img {
    width: 100%;
  }

  .our__work__wrapper .ourwork__box {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1199px) {
  .pb {
    padding-bottom: 6rem;
  }

  .banner__sec {
    height: 400px;
  }

  header nav .main__menu ul li a {
    font-size: 16px;
  }

  .explore__sec .explore__box {
    margin: 0;
  }

  .circle__sec .swiper-slide p {
    margin: 10px 0 0;
  }

  .profile__banner {
    height: auto;
  }

  .profile__banner .profile__overlay {
    width: 400px;
    margin: 20px auto;
  }

  .profile__banner .profile__overlay .circle {
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
  }

  .profile__banner .profile__overlay h1 {
    font-size: 2rem;
  }

  footer .footer__sec .logo {
    width: 220px;
  }

  footer .footer__sec .follow__sec ul li {
    margin-bottom: 0;
  }

  footer .footer__heading {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 991px) {
  body {
    font-size: 15px;
    line-height: 1.3;
  }

  .sec__heading {
    font-size: 1.8rem;
  }

  .pb {
    padding-bottom: 3rem;
  }

  header nav .logo img {
    width: 200px;
  }

  .home_prev {
    left: 10px !important;
  }

  .home_next {
    right: 10px !important;
  }

  .home__main__slider .swiper_btn.btn-prev,
  .home__main__slider .swiper_btn.btn-next {
    background: transparent;
  }

  .home__main__slider .card img {
    height: 400px !important;
  }

  .travel__sec .travel__box a {
    padding: 8px 14px;
    font-size: 14px;
  }

  .posts__reviews__sec h2 {
    font-size: 2.2rem;
    margin: 1rem 0 0;
  }

  .posts__reviews__sec .reviews__head p {
    margin-bottom: 10px;
  }

  .posts__reviews__sec .reviews__head .reviews__stars img {
    width: 15px;
    margin-right: 2px;
  }

  .posts__reviews__sec .reviews__foot {
    margin-top: 10px;
  }

  .posts__reviews__sec .reviews__foot img {
    width: 100%;
  }

  .review__details .reviews__head img {
    height: 300px;
  }

  .review__heading {
    margin-bottom: 30px;
  }

  .fav__slider .swiper-wrapper .swiper-slide:nth-child(even),
  .fav__slider .swiper-wrapper .swiper-slide:nth-child(odd) {
    margin-bottom: 10px;
  }

  .swiper_btn.btn-prev {
    left: 10px;
    background: #4d4c4c;
    z-index: 2;
    width: 40px;
    height: 40px;
  }

  .swiper_btn.btn-prev::before {
    padding: 10px;
    background-size: 80%;
  }

  .swiper_btn.btn-next {
    right: 10px;
    background: #4d4c4c;
    z-index: 2;
    width: 40px;
    height: 40px;
  }

  .swiper_btn.btn-next::before {
    padding: 10px;
    background-size: 80%;
  }

  .grid__img img {
    height: 200px;
  }

  .country__detail__wrapper .country__detail {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    padding: 30px 20px 20px;
  }

  .country__detail__wrapper .country__detail p {
    width: 100%;
    margin-bottom: 20px;
  }

  .country__detail__wrapper .country__review__sec {
    padding: 30px 20px 20px;
  }

  footer .footer__sec {
    margin-bottom: 30px;
  }

  footer .footer__sec .follow__sec {
    margin-top: 30px;
  }

  footer .footer__sec .contact__sec {
    margin-top: 30px;
  }

  footer .subscription__form {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

}

@media screen and (max-width: 767px) {
  header nav .main__menu ul li a {
    font-size: 14px;
  }

  .home__main__slider .swiper_btn.btn-prev,
  .home__main__slider .swiper_btn.btn-next {
    background: #D9D9D9;
  }

  .home__main__slider .card img {
    width: 100% !important;
    height: 400px !important;
  }

  .sec__heading {
    text-align: center;
  }

  .travel__sec .travel__box {
    text-align: center;
    margin-bottom: 50px;
  }

  .explore__sec .explore__box {
    width: 80%;
    margin: 0 auto 40px;
  }

  .explore__sec .explore__box p {
    bottom: 20px;
    left: 20px;
  }

  .posts__reviews__sec {
    text-align: center;
  }

  .posts__reviews__sec .reviews__credit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .posts__reviews__sec .reviews__foot {
    margin-top: 10px;
  }

  .posts__reviews__sec .reviews__foot img {
    width: 70%;
  }

  .review__details .reviews__head img {
    height: 250px;
  }

  .form label,
  .form p {
    padding: 0;
    margin: 0;
  }

  .circle__sec {
    margin: 0 60px 50px;
  }

  .card__wrapper .card__detail h4 {
    font-size: 1.3rem;
  }

  .card__wrapper .card__detail .reviews__credit ul img {
    width: 14px;
    margin-right: 1px;
  }

  .reviews__stars img {
    width: 14px;
    margin-right: 1px;
  }

  /* ==== About page */
  .our__work__wrapper h2 {
    margin-bottom: 20px;
  }

  .our__work__wrapper h2 span {
    display: inline-block;
  }

  .our__work__wrapper .ourwork__box {
    margin-bottom: 30px;
  }

  /* ==== About page zigzag section */
  .zigzag__sec .zigzag__content {
    padding: 0;
    margin: 10px 0;
  }

  .zigzag__sec .row {
    padding-top: 0;
  }

  .zigzag__sec .row:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  /* ===== login setting ==== */
  .login__form {
    padding: 3rem 30px;
  }

  .login__form .form p {
    margin-bottom: 10px;
  }

  .vr {
    display: none;
  }

  .signup__sec h2 span {
    display: inline-block;
  }
  


  .signup__sec a {
    margin-top: 10px;
  }

  .country__slider .reviews__credit {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .country__detail__wrapper .country__detail {
    text-align: center;
    max-width: 650px;
    margin: auto;
  }

  .country__detail__wrapper .country__detail h2 span {
    display: inline-block;
  }

  .country__detail__wrapper .country__review__sec {
    text-align: center;
    max-width: 650px;
    margin: auto;
    text-align: center;
  }

  .country__detail__wrapper .country__review__sec .text-end {
    text-align: center !important;
  }

  .country__detail__wrapper .country__review__sec .jump {
    border-left: 0;
    padding: 0;
  }

  .country__detail__wrapper .country__review__sec .jump ul {
    padding: 0;
    list-style-type: none;
  }

  .country__detail__wrapper .symbols,
  .country__detail__wrapper .reviews__credit {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .modes__sec .explore__box {
    height: auto;
  }
  .modes__sec .explore__box p{
    left: 0;
    bottom: 0;
    margin-top: 5px;
  }
}

@media screen and (max-width: 575px) {

  /* ======== Header ========= */
  header nav .logo img {
    width: 150px;
  }

  header nav .main__menu ul li a {
    padding: 10px 5px;
    font-size: 13px;
  }

  .banner__sec {
    height: 300px;
  }

  /* ======== community page ========= */
  .explore__sec .explore__box {
    width: 70%;
    margin: 0 auto 30px;
  }

  /* ======== Footer section ========= */
  footer {
    text-align: center;
  }

  footer .footer__sec .follow__sec ul {
    margin: auto;
  }

  footer .subscription__form {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 0 0;
  }

  /* ======== Profile page ========= */
  .profile__banner {
    height: auto;
  }

  .profile__banner .profile__overlay .circle {
    width: 100px;
    height: 100px;
  }

  .profile__banner .profile__overlay h1 {
    font-size: 1.6rem;
  }

  /* ======= Country Page ======= */
  .grid__img img {
    height: 150px;
  }

  .country__slider .swiper-slide p {
    font-size: 14px;
  }
}

@media screen and (max-width: 460px) {
  header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  header nav .main__menu {
    margin: 10px 0 0;
  }

  header nav .main__menu ul li.circle {
    width: 40px;
    height: 40px;
  }

  .banner__sec .banner___overlay .banner__search {
    width: 270px;
  }

  /* ==== slider btn ==== */
  .swiper_btn {
    width: 40px;
    height: 30px;
  }

  /* ==== Review Details ==== */
  .review__details .reviews__head img {
    height: 200px;
  }

  .post__reviews__box {
    padding: 10px;
  }

  .posts__reviews__sec h2 {
    font-size: 1.7rem;
    margin: 0;
  }

  .circle__sec {
    margin: 0 30px 50px;
  }
    
    

}



/*# sourceMappingURL=style.css.map */